footer {
    background-color: #F2F2F2;
}

.copy-right {
    background-color: #002D42
}

.social-icons {
    padding-top: 1.7em;
}

.social-media {
    width: 2.3em;
    margin-right: 15px;
    margin-left: 15px;
}

#copyright-footer {
    font-size: 12px !important;
    color: white !important;
    margin-top: 2em;
}


.footer b {
    font-size: 18px !important;
}
.col-pague-com img {
    width: 19em;
}



#seloebit {
    width: 5em;
}

#protegido {
    margin-left: -5em;
    margin-top: 2.3em;
}

#newslettertitle {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-family: "Zilla Slab" !important;
}

 #commit {
    width: 12em;
    background-color: green;
    color: white;
    outline-style: none;
    box-shadow: none;
    font-family: "Zilla Slab" !important;
}

#emailform {
    width: 100%;
    background-color: #F3FBFF;
    outline-style: none;
    box-shadow: none;
    border-color:#002D42;
    color: #002D42;
    padding-left: 35px;
}

#emailform::placeholder {
    color: #002D42
}

.col-seguranca ul li {
    margin-bottom: 10px;
    color: #333 !important;
}


#newsletter-container{
    max-width: 100%;
    background-image: url(/arquivos/circuito.png) !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: 100%;
    height: 11em;
    margin-bottom: -28px;
}

@media screen and (max-width: 900px) {
    .col-duvidas {
        padding-left: 1em;
    }
    footer .row b {
        font-size: 20px;
        margin-bottom: 1em
    }
    footer .row ul li {
        margin-top: 10px
    }

    #seloebit {
        width: 6em;
    }
    /*.social-icons {
        margin-top: 2em;
        margin-bottom: 4em;
    }*/

    .img-responsive-gsold {
        width: 55%;
    }
    .social-media {
        width: 2em;
    }
    #vtexlogo {
        margin-left: -34px !important;
    }
    .social-icons {
        padding-top: 0em;
    }
    #protegido {
        margin-left: 0em !important;
        margin-top: 2.3em;
    }

    #centerinmobile {
        text-align: center;
        margin-top: 1em;
    }
}

@media screen and (max-width: 1600px) {
    .col-seguranca ul li img {
        width: 80%;
    }

    #vtexlogo {
        margin-left: -40px !important;
    }

    .col-atendimento {
        width: 70% !important;
    }
}




@media screen and (min-width: 1800px) {
    #logo-vtex-desk{
        margin-left: -60px
    }

    #logo-protegido-desk{
        margin-left: -80px
    }

    #newsletter-container{
        height: 16em;
    }
}


@media screen and (max-width: 800px) and (min-width: 700px){
    #centerinmobile {
        text-align: center;
        margin-top: 1em;
        margin-left: 5em;
    }
    #emailform {
        width: 142% !important;
    }

    footer .container-fluid {
            padding-right: 15px !important;
            padding-left: 15px !important;
        
    }
}