.header .container {
    border-bottom: 1px solid #012D42;
    position: sticky;
    top: 0px;
    background-color: transparent;
    z-index: 900000;
}

.btn-login img {
    margin-top: 0.5em;
    width: 2.6em;
    margin-bottom: -9px;
}


#storenav  span{
    font-family: "Zilla Slab" !important;
}

#menu-container{
    padding-right: 4em;
padding-left: 5em;
}

.header-container {
    position: sticky;
    top: 0px;
    background-color: #F3FBFF !important;
    z-index: 9999999999;
}

.welcome-bar {
    padding: 0 !important;
}

.welcome-bar p, .welcome-bar a, .welcome-bar span {
    font-size: 10px !important;
}

.header {
    padding: 10px 0;
    padding-bottom: 0px;
}

#admake-advanced-filter {
    display: none !important;
}

.menu-departamento {
    display: block !important;
}

#storevav {
    border-top: solid 1px #002D42;
    margin-top: -7px;
}

#storenav li {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 10%;
    text-align: center;
}

#storenav li a {
    pointer-events: none !important;
}

#storenav li a img {
    width: 40%;
}

#storenav li a span {
    color: #002D42;
    font-size: 20px;
    font-family: "Zilla Slab" !important;
}

.header .search .busca {
    border: 1px solid #012D42;
    border-radius: 5px;
}

.fulltext-search-box {
    color: #012D42 !important;
    /* border-radius: 20px !important;*/
    outline-style: none;
    box-shadow: none;
    border: none !important;
    background-color: #F3FBFF !important;
}

.dropdown-menu {
    background-color: #002D42 !important;
    color: white !important;
    padding-top: 1em;
    padding-bottom: 2em;
}

.dropdown-menu li a {
    color: white !important;
}

.dropdown-menu>li>a:hover {
    background-color: #002D42;
}

#ajuda, #atendimento {
    color: white !important;
}

.numeros {
    margin-top: 1em;
}

.numeros i {
    margin-right: 10px;
}

#mini-cart-admake {
    background-color: #002D42;
}

#mini-cart-admake {
    border: 1px solid #002D42;
}

#mini-cart-admake .mini-cart-botao .btn-finalizar-compra {
    background-color: #7E14DB;
}

#mini-cart-admake:before {
    border: 5px solid transparent;
    border-bottom-color: #002D42;
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    right: 30px;
}

#mini-cart-admake #mini-cart-admake-total, #mini-cart-admake .mini-cart-totais span {
    color: white !important;
}

.btn-buscar {
    background-image: url(/arquivos/lupa.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    background-position: center center;
    color: transparent !important;
    outline-style: none;
    box-shadow: none;
    border: none !important;
    background-color: #F3FBFF !important;
}

.col-mini-cart:hover #mini-cart-admake {
    z-index: 999999999;
}

#mini-cart-admake .mini-cart-item .nome-produto a, #mini-cart-admake .mini-cart-item .qtd-valor .qtd, #mini-cart-admake .mini-cart-item .qtd-valor .preco {
    color: white;
}

.btn-orders, .btn-login, .btn-mini-cart {
    border: none;
    box-shadow: none;
    background-color: transparent !important;
}

.welcome-bar {
    background-color: #002D42;
    color: white !important;
}

.welcome-bar ul li span a {
    color: white;
}

.welcome-bar .help-menu span strong {
    color: white;
    font-weight: 200;
}

.welcome-bar span {
    font-weight: 200;
}

.welcome-bar .help-menu li {
    margin-left: 3em;
    margin-right: 3em;
}

.header .sing-in, .mini-cart {
    margin-bottom: 0em;
    background-color: #F3FBFF !important;
}

.mini-cart {
    margin-top: 0px;
}

.fale-conosco {
    margin-top: -7px;
    background-color: #F3FBFF !important;
}

.button-text-header {
    display: inline-flex;
    font-size: 1em;
    padding-left: 5px;
    padding-bottom: -11px;
    text-align: left;
    line-height: 18px;
    color: #002D42;
    font-weight: 200;
}

.header .search .btn-buscar {
    width: 5%;
    margin-left: 1em;
}

#menu-mobile {
    background-color: #002D42;
}

.sidenav, .dropdown-container a, .link-login a, .link-orders a {
    color: white;
}

.deptonav .menu-triangle {
    z-index: 999999999;
    position: relative;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid white;
    margin-left: 3em;
    margin-top: 16px;
}

.deptonav#computadores {
    margin-left: 1%;
}

.deptonav#personalizados {
    margin-left: 11%;
}

.deptonav#notebooks {
    margin-left: 21%;
}

.deptonav#monitores {
    margin-left: 31%;
}

.deptonav#acessorios {
    margin-left: 41%;
}

.deptonav#games {
    margin-left: 51%;
}

.deptonav#novos {
    margin-left: 59%;
}

.deptonav#telefonia {
    margin-left: 61%;
}

.deptonav#marcas {
    margin-left: 70%;
}

.deptonav#telefonia .menu-triangle {
    margin-left: 30em;
}

.deptonav#marcas .menu-triangle {
    margin-left: 17em;
}

.deptonav#novos .menu-triangle {
    margin-left: 5em;
}

.deptonav#computadores .row .main {
    border-left: solid 7px #7D13DB;
    -webkit-box-shadow: inset -13px -1px 11px -5px rgba(125,19,219,1);
-moz-box-shadow: inset -13px -1px 11px -5px rgba(125,19,219,1);
box-shadow: inset -13px -1px 11px -5px rgba(125,19,219,1);
}

.deptonav#monitores .row .main {
    border-left: solid 7px #0CC142;
    -webkit-box-shadow: inset -13px -1px 11px -5px rgba(12,193,66,1);
-moz-box-shadow: inset -13px -1px 11px -5px rgba(12,193,66,1);
box-shadow: inset -13px -1px 11px -5px rgba(12,193,66,1);
}

.deptonav#notebooks .row .main {
    border-left: solid 7px #EDC500;
    -webkit-box-shadow: inset -13px -1px 11px -5px rgba(237,197,0,1);
-moz-box-shadow: inset -13px -1px 11px -5px rgba(237,197,0,1);
box-shadow: inset -13px -1px 11px -5px rgba(237,197,0,1);
}

.deptonav#personalizados .row .main {
    border-left: solid 7px #2CBCF4;
    -webkit-box-shadow: inset -13px -1px 11px -5px rgba(44,188,244,1);
-moz-box-shadow: inset -13px -1px 11px -5px rgba(44,188,244,1);
box-shadow: inset -13px -1px 11px -5px rgba(44,188,244,1);
}

.deptonav#acessorios .row .main {
    border-left: solid 7px #EF5EE8;
    -webkit-box-shadow: inset -13px -1px 11px -5px rgba(239,94,232,1);
-moz-box-shadow: inset -13px -1px 11px -5px rgba(239,94,232,1);
box-shadow: inset -13px -1px 11px -5px rgba(239,94,232,1);
}

.deptonav#games .row .main {
    border-left: solid 7px #1156FF;
    -webkit-box-shadow: inset -13px -1px 11px -5px rgba(17,86,255,1);
-moz-box-shadow: inset -13px -1px 11px -5px rgba(17,86,255,1);
box-shadow: inset -13px -1px 11px -5px rgba(17,86,255,1);
}

.deptonav#novos .row .main {
    border-left: solid 7px #DD3E3E;
    -webkit-box-shadow: inset -13px -1px 11px -5px rgba(221,62,62,1);
-moz-box-shadow: inset -13px -1px 11px -5px rgba(221,62,62,1);
box-shadow: inset -13px -1px 11px -5px rgba(221,62,62,1);
}

.deptonav#telefonia .row .main {
    border-right: solid 7px #1A7146;
    margin-left: 0 !important;
    -webkit-box-shadow: inset 13px -1px 11px -5px rgba(26,113,70,1);
-moz-box-shadow: inset 13px -1px 11px -5px rgba(26,113,70,1);
box-shadow: inset 13px -1px 11px -5px rgba(26,113,70,1);
}

.deptonav#marcas .row .main {
    border-right: solid 7px #EF8200;
    margin-left: 0 !important;
    -webkit-box-shadow: inset 13px -1px 11px -5px rgba(239,130,0,1);
-moz-box-shadow: inset 13px -1px 11px -5px rgba(239,130,0,1);
box-shadow: inset 13px -1px 11px -5px rgba(239,130,0,1);
}

.deptonav#computadores .row .col-sm-3 h4 {
    font-family: "Zilla Slab" !important;
    font-weight: 400;
    color: #7D13DB;
}

.deptonav#monitores .row .col-sm-3 h4 {
    font-family: "Zilla Slab" !important;
    font-weight: 400;
    color: #0CC142;
}

.deptonav#notebooks .row .col-sm-3 h4 {
    font-family: "Zilla Slab" !important;
    font-weight: 400;
    color: #EDC500;
}

.deptonav#personalizados .row .col-sm-3 h4 {
    font-family: "Zilla Slab" !important;
    font-weight: 400;
    color: #2CBCF4;
}

.deptonav#acessorios .row .col-sm-3 h4 {
    font-family: "Zilla Slab" !important;
    font-weight: 400;
    color: #EF5EE8;
}

.deptonav#games .row .col-sm-3 h4 {
    font-family: "Zilla Slab" !important;
    font-weight: 400;
    color: #1156FF;
}

.deptonav#novos .row .col-sm-3 h4 {
    font-family: "Zilla Slab" !important;
    font-weight: 400;
    color: #DD3E3E;
}

.deptonav#telefonia .row .col-sm-3 h4 {
    font-family: "Zilla Slab" !important;
    font-weight: 400;
    color: #1A7146;
}

.deptonav#marcas .row .col-sm-3 h4 {
    font-family: "Zilla Slab" !important;
    font-weight: 400;
    color: #EF8200;
}

.deptonav .row .col-sm-3 {
    padding: 1em;
    background-color: white;
    height: 28em;
    width: auto;
    padding: 2em;
    z-index: 99999999;
    margin-left: 3em;
}

.deptonav#marcas .row .col-sm-3 {
    height: 36em
}

.deptonav .row .col-sm-3 ul li a {
    color: black !important;
}

.deptonav .row .col-sm-3.submenu {
    padding-right: 8em;
}

.deptonav .row .col-sm-3.submenu ul {
    padding-top: 3em;
}

.deptonav .row .col-sm-3.submenu, .deptonav .row .col-sm-3.image-column {
    margin-left: 0em;
    border-left: none !important;
}

.deptonav .row .col-sm-3 ul li {
    color: black;
    margin-bottom: 1em;
}

.deptonav .row .col-sm-3.image-column {
    padding: 0em !important;
}

.deptonav#telefonia .row .main, .deptonav#marca .row .main {
    margin-left: 0em!important;
}

@media screen and (max-width: 600px) {
    .header .container-fluid {
        border-bottom-color: transparent !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .fulltext-search-box {
        height: 3em;
    }
    .header .search {
        margin-top: 0em;
        margin-bottom: 1em;
    }
    #mobile-cart {
        border-color: transparent;
        background-color: transparent;
    }
    .header {
        margin-top: 1em;
    }
    .btn-menu-xs {
        background-color: transparent;
        border-color: transparent;
        font-size: 34px;
    }
    .dropdown-btn {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        display: block;
    }
    .dropdown-container a {
        margin: 1em;
        color: white;
        font-size: 17px;
        display: block;
    }
    .link-login a, .link-orders a {
        color: white !important
    }
}

@media screen and (max-width: 1500px) {
    #storenav li {
        margin-left: 6px;
        margin-right: 6px;
    }
    .deptonav#computadores {
        margin-left: -1%;
    }
    .deptonav#personalizados {
        margin-left: 10%;
    }
    .deptonav#notebooks {
        margin-left: 21%;
    }
    .deptonav#monitores {
        margin-left: 32%;
    }
    .deptonav#acessorios {
        margin-left: 39%;
    }
    .deptonav#games {
        margin-left: 50%;
    }
    .deptonav#novos {
        margin-left: 58%;
    }
    .deptonav#telefonia {
        margin-left: 56%;
    }
    .deptonav#marcas {
        margin-left: 57%;
    }

    .deptonav#marcas .menu-triangle {
        margin-left: 24em;
    }
}

@media screen and (min-width: 1700px) {

    #menu-container{
        padding-right: 6em;
  padding-left: 7em;
    }
    .header .search .btn-buscar {
        width: 5%;
        margin-left: 3em;
    }
    .link-logo {
        margin-top: -10px;
    }
    .sing-in {
        width: 10%;
        margin-left: 15em;
    }
    .fale-conosco {
        width: 9%;
    }
    .mini-cart {
        width: 8%;
    }
    .link-logo img {
        max-width: 88%
    }

    .header .search .fulltext-search-box {
        height: 3em;
    }

    .btn-login img {
        margin-top: 0.5em !important;
        width: 2.6em;
        margin-bottom: -9px;
    }
    #storenav li a img {
        width: 30%;
    }
    
}