.header .container {
    border-bottom: 1px solid #012D42;
}

.header .search .busca {
    border: 1px solid #012D42;
    border-radius: 5px;
}

.fulltext-search-box{
    color: #012D42 !important;
   /* border-radius: 20px !important;*/
    outline-style:none;
    box-shadow:none;
    border: none !important;
    background-color: #F3FBFF !important;

}

.dropdown-menu {
    background-color: #002D42 !important;
    color: white !important;
    padding-top: 1em;
    padding-bottom: 2em;
}
.dropdown-menu  li a {
    color: white !important;
}

.dropdown-menu>li>a:hover {
    background-color: #002D42;
}
#ajuda, #atendimento {
    color: white !important;
}
.numeros {
    margin-top: 1em;
}

.numeros i{
    margin-right: 10px;
}

#mini-cart-admake {
    background-color: #002D42;

}

#mini-cart-admake {

    border: 1px solid #002D42;
}

#mini-cart-admake .mini-cart-botao .btn-finalizar-compra {
    background-color: #7E14DB;
}
#mini-cart-admake:before {
    border: 5px solid transparent;
    border-bottom-color: #002D42;
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    right: 30px;
}


#mini-cart-admake #mini-cart-admake-total, #mini-cart-admake .mini-cart-totais span {
    color: white !important;
}

.btn-buscar {
    background-image: url(/arquivos/lupa.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    background-position: center center;
    color: transparent !important;
    outline-style:none;
    box-shadow:none;
    border: none !important;
    background-color: #F3FBFF !important;
   
}

.col-mini-cart:hover #mini-cart-admake {
   
    z-index: 999999999;
}

#mini-cart-admake .mini-cart-item .nome-produto a, #mini-cart-admake .mini-cart-item .qtd-valor .qtd,  #mini-cart-admake .mini-cart-item .qtd-valor .preco {
    color: white;
}

.btn-orders, .btn-login, .btn-mini-cart{
    border: none;
    box-shadow: none;
    background-color: #F3FBFF !important;
}

.welcome-bar {
    background-color: #002D42;
    color: white !important;
}

.welcome-bar ul li span a{
    color: white;
}

.welcome-bar .help-menu span strong {
    color: white;
}

.welcome-bar .help-menu li {
    margin-left: 3em;
    margin-right: 3em;
}


.header .sing-in, .mini-cart {
    margin-top: -10px;
    margin-bottom: 1em;
    background-color: #F3FBFF !important;
}

.mini-cart {
    margin-top: 0px;
}

.fale-conosco {
    margin-top: -7px;
    margin-bottom: 1em;
    background-color: #F3FBFF !important;
}



.button-text-header{
    display: inline-flex;
    font-size: 1em;
    padding-left: 5px;
    padding-bottom: -11px;
    text-align: left;
    line-height: 18px;
    color: #002D42;
    font-weight: 200;
}

.header .search .btn-buscar {
    width: 6%;
    margin-left: 1em;
}
#menu-mobile {
    background-color: #002D42;
}

.sidenav, .dropdown-container a, .link-login a, .link-orders a{
    color: white;
}
@media screen and (max-width: 450px) {

    .header .container-fluid {
        border-bottom-color: transparent !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .fulltext-search-box {
        height: 3em;
    }
    .header .search {
        margin-top: 3em;
        margin-bottom: 2em;
    }

    #mobile-cart {
        border-color: transparent;
        background-color: transparent;
    }
   .header {
       margin-top: 1em;
   }

   .btn-menu-xs {
    background-color: transparent;
    border-color: transparent;
    font-size: 34px;
   }

 
}