/*.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}*/



#propostascomerciais{
    margin-top: 3em;
}

.titulo {
    background-image: url(/arquivos/conector-titulo.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    height: 3em;
    margin-top: 4em;
}

.titulo h3 {
    margin-left: 6em;
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
}

#carouselpropostas .owl-prev,  #carouselpropostas .owl-next {
    display: none;
}

.fullbanner .owl-prev, .fullbanner .owl-next {
    display: none;
}

#carouselpropostas .owl-wrapper .owl-item .item img, #carouselvitrines .owl-wrapper .owl-item .item img{
   
    width: 68%;
    margin-left: 16%;
}



#carouselpropostas .owl-pagination, #carouselvitrines .owl-pagination, #carouselmarcas .owl-pagination{
    display: none;
}


#carouselmarcas .owl-item {
    text-align: center;
}

#propostascomerciais .row .col-sm-2  {
    margin-left: 2em;
    margin-right: 2em;
}

#newsletter {
    
   
}

#newslettertitle {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
}

 #commit {
    width: 12em;
    background-color: green;
    color: white;
    outline-style: none;
    box-shadow: none;
}

#emailform {
    width: 100%;
    background-color: #F3FBFF;
    outline-style: none;
    box-shadow: none;
    border-color:#002D42;
    color: #002D42;
}

#emailform::placeholder {
    color: #002D42
}

@media screen and (max-width: 450px) {

    #centerinmobile {
        text-align: center;
    }
    #commit {
        margin-top: 2em
    }
    #category-extra-vitrine-2 .row .col-sm-4 a img, #banners-institucional .col-sm-6 a img {
        margin-top: 2em;
    }
}