/*.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}*/
#home-content {
    padding-right: 10em;
    padding-left: 10em;
}


#propostascomerciais{
    margin-top: 3em;
}

.titulo {
    background-image: url(/arquivos/conector-titulo.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    height: 3.6em;
    margin-top: 4em;
}

.titulo h3 {
    margin-left: 7em;
    font-family: "Zilla Slab", serif;
    font-weight: bold;
    font-size: 30px;

}

#carouselpropostas .owl-prev,  #carouselpropostas .owl-next {
    display: none;
}

.fullbanner .owl-prev, .fullbanner .owl-next {
    display: none;
}

#carouselpropostas .owl-wrapper .owl-item .item img, #carouselvitrines .owl-wrapper .owl-item .item img{
   
    width: 68%;
    margin-left: 16%;
}



#carouselpropostas .owl-pagination, #carouselvitrines .owl-pagination, #carouselmarcas .owl-pagination{
    display: none;
}


#carouselmarcas .owl-item {
    text-align: center;
}

/*#propostascomerciais .row .col-sm-2  {
    margin-left: 2em;
    margin-right: 2em;
}*/

#newsletter {
    
   
}

#newslettertitle {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
}

 #commit {
    width: 12em;
    background-color: green;
    color: white;
    outline-style: none;
    box-shadow: none;
}

#emailform {
    width: 100%;
    background-color: #F3FBFF;
    outline-style: none;
    box-shadow: none;
    border-color:#002D42;
    color: #002D42;
}

#emailform::placeholder {
    color: #002D42
}


.prateleira.vitrine h2 {
    display: none;
}

.prateleira.vitrine .owl-item li {
    margin-right: 1em;
    margin-left: 1em;
}
@media screen and (max-width: 900px) {

    #centerinmobile {
        text-align: center;
    }
    #commit {
        margin-top: 2em
    }
    #category-extra-vitrine-2 .row .col-sm-4 a img, #banners-institucional .col-sm-6 a img {
        margin-top: 2em;
    }
    #home-content{
        padding-right: 15px;
    padding-left: 15px;
    }


   
}

@media screen and (min-width: 1100px) and (max-width: 1700px) {
    #home-content {
        width: 1170px !important;
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media screen and (min-width: 1800px) {
        .titulo {
            background-image: url(/arquivos/conector-titulo.png) !important;
            background-repeat: no-repeat !important;
            background-size: contain;
            height: 4em;
            margin-top: 4em;
        }
        
        .titulo h3 {
            margin-left: 6em;
            font-family: "Zilla Slab", serif;
            font-weight: bold;
            font-size: 40px;
        }
    
}