.prateleira .product-name a{
    font-family: "Zilla Slab" !important;
    color: black !important;
    font-size: 24px !important;
    font-weight: 500;
    line-height: 28px;
}
#publishUserReview #formUserReview {
    margin-top: 8%;
}


.prateleira .product-name {
    margin-top: 2em;
}
.prateleira .price .best-price, .installment {
    font-family: "Darker Grotesque" !important;
}

.prateleira .price .best-price {
    color: #007DB8;
    font-size: 38px !important;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 500;
    line-height: 34px;
}
.installment {
    color:#4F4F4F !important;
}

.prateleira .btn-add-buy-button-asynchronous {
    background-color: #FF6B24 !important;
    font-size: 25px;
    text-transform: uppercase !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    padding: 11px;
    display: block;
    width: 85%; 
    margin: 0 auto;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
}

.prateleira .box-item:hover img {
    opacity: 1;
}

.product-image::after {
    content: none !important;
    background: none !important;
}
.prateleira .btn-add-buy-button-asynchronous .fa {
    display: none;
}

.prateleira .box-item {
    background-color: white;
    padding-bottom: 4%;
}

.out-of-stock {
    font-size: 22px;
    font-family: "Zilla Slab" !important;
}
@media (min-width: 600px) and (max-width: 1600px)  {
    .prateleira .btn-add-buy-button-asynchronous {
        font-size: 15px;
         padding: 7px;
    }
    .prateleira .product-name a {
        font-size: 14px !important;
    }

    .pager.bottom {
        clear: left;
    }
}

@media screen and (max-width: 899px) and (min-width: 600px) { 
    .prateleira .box-item {
        height: 482px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 900px) { 
    .prateleira .box-item {
        height: 444px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1100px) { 
    .prateleira .box-item {
        height: 505px;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1455px) { 
    .prateleira .box-item {
        height: 540px;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1455px) { 
    .prateleira .box-item {
        height: 540px;
    }
}


@media screen and (min-width: 1601px) { 
    .prateleira .box-item {
        height: 596px;
    }
}