.product-details {
    background-color: white;
}

.productName {
    font-size: 33px !important;
    line-height: 1em !important;
    background-color: #007DB8;
    padding-left: 1.6em;
    padding-right: 1.6em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: -1.3em;
    color: white !important;
    font-weight: 500 !important;
}

.product-details .seletor-sku .topic {
    margin-bottom: -18px !important;
}
.cart-counter h4, .productName, .specification, #product-specs a {
    font-family: "Zilla Slab" !important;

}

.cart-counter {
    margin-top: 2em;
}

.go-to-cart-button, .go-to-cart-button:hover {
    color: #fff;
    padding-left: 5.3em;
    padding-right: 5.3em;
    background-color: #FF6B24 !important;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
}


.product-details .price-box {
    margin-bottom: 20px;
    margin-top: 0px;  
    padding-bottom: 0px !important;
}
.add-to-cart-button {
    color: #007DB8;
    border: 2px solid #007DB8;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    margin-left: 28px;
    text-decoration: none;
    outline-style: none;
    box-shadow: none;
}

.added-to-cart {
    border: none;
    font-size: 20px;
    background-color: transparent;
    margin-left: 3em;
    text-decoration: none;
    outline-style: none;
    box-shadow: none;
}

.prateleira.vitrine h2 {
    background-image: url(/arquivos/conector-titulo.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    height: 3em;
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    margin-top: 4em;
    padding-left: 12em;
    font-size: 22px;
}

.codigo-produto {
    margin-bottom: 1em;
    font-family: 'Nunito', sans-serif;
}

.skuBestPrice {
    color: #232F3E !important;
    font-size: 56px !important;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-weight: 700;
}

.price-installments, .price-cash {
    color: #4F4F4F !important;
}

.skuBestInstallmentValue, .skuBestPrice {
    font-family: "Darker Grotesque" !important;
}

.rating-produto:after {
    content: " ";
}

.product-details .price-box, .product-info .shipping-box {
    border-bottom: none;
    border-top: none;
}

.buy-button i, .box-qtd, #description, #specification, #reviews, .user-review h4, .added-to-cart {
    display: none
}

.product-image .apresentacao .thumbs {
    margin-left: 80%;
}

.product-image .apresentacao .thumbs li {
    border: solid 2px #007DB8;
    padding: 5px;
    border-radius: 10px;
}

.qtd-field {
    width: 42px;
    text-align: center;
    color: #232F3E;
    font-family: "Darker Grotesque";
    font-weight: 700;
    font-size: 40px;
    border: none;
}

.preco-a-vista.price-cash, .valor-dividido.price-installments {
    font-family: "Darker Grotesque" !important;
    font-weight: 400 !important;
}


.preco-a-vista.price-cash strong, .skuBestInstallmentValue, .skuBestInstallmentNumber{
    font-weight: 400 !important;
}

.product-image .zoomPad {
    margin-top: 5em;
}

.cart-counter h4, .specification {
    color: #4F4F4F !important;
    font-size: 20px !important;
    line-height: 18px !important;
    display: inline-block !important;
    text-transform: uppercase !important;
    margin-bottom: 2em !important;
    font-weight: 300 !important;
}
.cart-counter h4 {
    margin-bottom: 39px !important;
}

.product-details .seletor-sku {
    margin-bottom: 45px;
}
.cart-counter .btn {
    background-color: transparent;
}

.rating-produto:before {
    font-size: 25px;
}

.owl-carousel .owl-item {
    margin-left: 1em;
    margin-right: 1em;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.ribbon-side {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #003A56;
    transform: rotate(-45deg);
    margin-left: -3em;
    margin-bottom: -1.7em;
    margin-top: 4em;
}

#product-specs a {
    font-weight: 700;
    color: #333;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    text-decoration: none;
    outline-style: none;
    box-shadow: none;
    background-color: transparent;
}

#product-specs {
    overflow: hidden;
    border-radius: 0px;
}

#product-specs a:hover {
    border-bottom: 3px solid #007DB8;
    color: #007DB8;
}

#product-specs a.active {
    border-bottom: 3px solid #007DB8;
}

.productDescription, #caracteristicas, .avaliacao {
    padding-top: 2.3em;
    background-color: white;
    padding-bottom: 8em;
    padding-left: 2em;
    font-family: "Darker Grotesque" !important;
    font-size: 20px !important;
}


.product-info .seletor-sku .select .sku-selector {
    display: block;
    margin-top: 12px;
    margin-bottom: 15px;

}

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#publishUserReview #formUserReview {
    z-index: 9999999999999 !important;
}
.product-info .seletor-sku .select .sku-selector[type='radio'] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;
    margin: 4px 0px 10px;
    -webkit-appearance: none;
    background-color: white;
    border: 2px solid #002D42;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    line-height: normal;
    padding-left: 23px;
    ms-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
    border-color: rgb(0, 45, 66);
    background-color: #002D42;
    margin-left: -9px;
}


.product-info .seletor-sku .select .sku-selector[type='radio']:checked:after {

    content: "X";
    font-size: 21px;
    position: absolute;
    top: 2px;
    left: 9px;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#comprar-flutuante .buy-button.buy-button-ref {
    background-color:#FF6B24 !important;

}

.product-info .seletor-sku .select label {
    margin-right: -3px !important;
}
.product-info .seletor-sku .select label:hover, .product-info .seletor-sku .select label.checked, .product-info .seletor-sku .select label.sku-picked {
    border: none!important;
    font-size: 16px;
    color: silver;
    margin-top: 6px;
    
}

.rating-produto:before, .rating-demonstrativo:before, .rating-wrapper .rating:before,.rating-avalie .ratingStar.emptyRatingStar:before, .rating-avalie .ratingStar.filledRatingStar:before {
    color: #FFE862 !important;
}

.product-info .shipping-box label .fitext ,.product-info .shipping-box .freight-btn{
    border: 1px solid #007DB8 !important;
}

.product-info .shipping-box .freight-btn {
    margin-top: -3px;
}


.product-info .shipping-box .freight-btn:hover {
    background-color: transparent!important;
}
#paddiv{
    padding-left: 85px;
}

#reviews #formUserReview .avaliar a, #reviews #lnkPubliqueResenha {
    background-color: #FF6B24 !important;
    font-size: 22px;
    font-family: "Darker Grotesque" !important;
}



.dados .email-resenha, .resenha-util-quantidade {
    font-size: 15px;
}
.rating-wrapper .rating {
    display: inline-block;
}


.product-description #caracteristicas th, .product-description #caracteristicas td {
    font-size: 18px !important;
    font-weight: 500;
}

.product-description .product-description-box h4 {
    font-size: 24px !important;
}

#caracteristicas {
    padding-left: 2em;
    padding-right: 2em;
}

#caracteristicas .group.Especificacoes {
    padding-bottom: 1em
}
#reviews .resenhas .opiniao-ajudou .bts li a {
    text-transform: uppercase;
}
@media (min-width: 1200px) {
    .product-details .avaliacoes {
        text-align: left;
    }
    #comprar-flutuante {
        display: none !important;
    }
    section.container-fluid {
        padding-left: 8em;
        padding-right: 8em;
    }
    .product-details {
        background-color: white;
        margin-left: -8em;
        margin-right: -8em;
    }
}

@media (max-width: 1700px) {
   
    .add-to-cart-button {
        padding-left: 0.3em;
    padding-right: 0.3em;
    margin-left: 18px;
    }
    .go-to-cart-button, .go-to-cart-button:hover  {
        padding-left: 2.3em !important;
        padding-right: 2.3em !important;
    }

    .go-to-cart-button:hover {
        padding-left: 2.3em;
    padding-right: 2.3em;
    }
    .ribbon-side {
        margin-top: 2em;
    }
    .productName {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
    }

    .skuBestPrice {
        font-size: 40px !important;
    }

    #paddiv{
        padding-left: 2em;
    }

    .cart-counter {
        margin-top: -21px;
    }

    .productName {
        font-size: 30px !important;
    }
    .product-details .price-box {
        margin-bottom: 0px !important;
    }
    .specification{
        margin-bottom: 0em !important; 
    }
    .product-details .seletor-sku{
        margin-bottom: 25px !important;
    }
    .product-details .seletor-sku .specification{
        margin-top: -7px;
    }

    .codigo-produto,.product-details .product-name{
        margin-bottom: 6px;
    }
}

@media (max-width: 1050px) {
    .row, .container-fluid {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .product-image .apresentacao .thumbs {
        margin-left: 0;
    }
    #product-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .row.product-details {
        padding-left: 8em;
        padding-right: 8em;
    }
    .ribbon-side {
        display: none;
    }
    .prateleira.vitrine h2 {
        margin-top: 1em;
        padding-left: 6em;
    }

    .showcase-owl .owl-controls .owl-buttons > div.owl-prev {
        left: 12px;
    }
    .showcase-owl .owl-controls .owl-buttons > div.owl-next {
        right: -19px;
    }

    #reviews .avalie-produto #opcoes-avalie .firadio {
        margin: -5px 6px 0 0 !important;
    }


    .go-to-cart-button.flutuante {
        text-align: center;
    display: block;
    width: 100%;
    }

    .add-to-cart-button.flutuante {
        display: block;
        text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 1em;
    }

    
}




@media screen and (max-width: 390px) {
    .titulo h3 {
        margin-left: 5em;
    }
    #product-specs a {
        padding: 14px 3px;
    }

   
}

@media screen and (max-width: 1050px) and (min-width: 700px){

    #comprar-flutuante {
        display: none !important;
    }
}



@media screen and (max-width: 990px) and (min-width: 320px){

    .product-image .apresentacao .thumbs li {
        width: 12%;
    }
}


@media screen and (max-width: 365px) {
    .cart-counter h4 {
        margin-right: 88px;
        margin-bottom: 0px !important;
        margin-top: 20px;
    }
    .productName {
        font-size: 20px !important;
    }
   
}


@media screen and (min-width: 1050px){
    .product-description #caracteristicas th {
        padding-left: 2em;
    }

}



